<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" style="padding-top:50px;padding-bottom:50px"">
                <div class="col-lg-12">
                    <a href="person/new" type="button" class="btn btn-xl btn-outline-primary">Add Employee</a>
                </div>
            </div>
        </div>
    </div>
</div>